.cloud-payments {
    padding: 0 10px;
}

.cloud-payments label{
    display: block;
    margin-bottom: 5px;
}

.cloud-payments input{
    margin-right: 4px;
}

.cloud-payments .hide-save_cart {
    display: none;
}